<canvas id="canvas" class="fullScreenCanvas" width="640" height="480"></canvas>
<div id="hud">
	<% hudItemId = 1 %>
	<% $hud.each do |h| %>
	<div id="hudSlot<%= hudItemId %>"></div>
	<% hudItemId += 1 %>
	<% end %>
</div>