<form onsubmit="event.preventDefault(); startGame();" action=""><input autocomplete="off" autofocus id="name" class="name" type="text" placeholder="Enter a name"></form>
<div id="status" class="statusText"></div>

<canvas id="canvas" class="fullScreenCanvas" width="640" height="480" onLoad="resizeCanvas()"></canvas>
<div id="hud" class="hud">
	<% hudItemId = 0 %>
	<% $hud.each do |h| %>
	<div id="hudSlot<%= hudItemId %>" class="hudSlot <% if hudItemId == 0 %>hudSelected<% end %>" onClick="HudItem.select(<%= hudItemId %>)"></div>
	<% hudItemId += 1 %>
	<% end %>
</div>