/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

* {
	/* animate everything... */
	transition: all 0.2s ease-out;
}

.fullScreenCanvas {
	position:absolute;
    width:100%;
    height:100%;
    top: 0;
    left: 0;
}

.hudSlot {
	border-radius: 50%;
	padding: 30px;
	margin: 5px;
	opacity: 0;
	border: none;
	background-color: #d3d3d336;
	display: inline-block;
	-webkit-box-shadow: inset 0px 0px 6px 1px #00000096; 
	box-shadow: inset 0px 0px 6px 1px #00000096;
}

.hidden {
	display: none !important;
}

.spread5px {
	transition: margin 1s ease-out;
	transition: padding 1s ease-out;
	margin: 5px !important;
	padding: 30px !important;
}

.hudSlot:hover {
	background-color: #d3d3d361;
	cursor: pointer;
}

.hudSelected {
	background-color: #d3d3d385;
	-webkit-box-shadow: 0px 0px 6px 1px #00000096; 
	box-shadow: 0px 0px 6px 1px #00000096;
}

.hud {
	border: none;
	border-bottom: none !important;
	border-radius: 0px 0px 0px 0px;
	z-index: 10;
	position: fixed;
	bottom: -100px;
	left: 0;
	right: 0;
	margin: 0px auto;
	width: -moz-fit-content;
	width: fit-content;

	/*background-color: #00000029;*/
	padding: 5px;
}


@media (max-width: 700px) {
	.hud {

	}

	.hudSlot {
		padding: 20px !important;
		margin: 2px !important;
	}
}

@media (max-width: 450px) {
	.hudSlot {
		padding: 15px !important;
	}
}