/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.fullScreenCanvas {
	position:absolute;
    width:100%;
    height:100%;
    top: 0;
    left: 0;
}

.hudSlot {
	padding: 30px;
	border: 1px solid black;
	border-radius: 5px;
	background-color: whitesmoke;
	display: inline-block;
	margin: 5px;
}

.hudSlot:hover {
	background-color: lightgrey;
	cursor: pointer;
}

.hudSelected {
	background-color: lightgrey;
	border: 2px solid black;
	padding: 29px;
}

.hud {
	border: 1px solid black;
	border-radius: 5px;
	z-index: 10;
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	margin: 0px auto;
	width: -moz-fit-content;
	width: fit-content;
}


@media (max-width: 700px) {
	.hud {

	}

	.hudSlot {
		padding: 20px !important;
		margin: 2px !important;
	}
}

@media (max-width: 450px) {
	.hudSlot {
		padding: 15px !important;
	}
}