// Place all the styles related to the Play controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$background-color: black; /* It's green... Like trees. */

body {
	background-color: $background-color;
}

.playButton {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}