// Place all the styles related to the Play controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$background-color: black; /* It's green... Like trees. */

body {
	background-color: $background-color;
}

textarea, input, button { outline: none; }

.statusText {
	position: fixed;
	z-index: 20;
	top: 0;
	left: 0; right: 0;
	width: -moz-fit-content;
	width: fit-content;
	margin: 0px auto;
	font-size: 20px;
}

.name {
	padding: 20px;
	border: 3px solid limegreen;
	border-top: none !important;
	height: fit-content;
	width: fit-content;
	height: -moz-fit-content;
	width: -moz-fit-content;
	position: fixed;
	margin: 0px auto;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 15;
	font-size: 50px;
}

.playButton {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}